@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
	margin: 0;
	border: 0;
}

.header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url(chicago.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
	font-family: "Titillium Web", sans-serif;

	display: flex;
	flex-direction: column;
}

.header__navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	padding: 0 20px;
}

.header__links {
	display: flex;
	list-style-type: none;

}

.header__links li:not(:last-child) {
	margin-right: 30px;
}
.header__links a {
	text-decoration: none;
	text-transform: uppercase;
	color: #ecf0f1;
    letter-spacing: 1px;
    font-size: 15px;
}

.header__logo a {
	font-size: 35px;
	color: #ecf0f1;
	text-decoration: none;
}

.header__text {
	color: #ecf0f1;
	font-size: 50px;
	margin-bottom: 30px;
}

.header__cta {
	align-self: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40%);

	display: flex;
	flex-direction: column;
	align-items: center;
}

.button {
	text-decoration: none;
	text-transform: uppercase;
	color: #ecf0f1;
	letter-spacing: 1px;
	border: 2px solid #ecf0f1;

	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 50px;
}

/*--  ABOUT --- */

.header--general {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(about.jpg);
}

.navigation--general {
	background-color: #2c3e50;
}
