* {
	box-sizing: border-box;
	font-size: 0px;
}

.container {
	width: 830px;
	height: 615px;
	border: 1px solid white;
	margin: 0 auto;
}

.box {
	width: 830px;
	height: 150px;
	margin-bottom: 10px;
}

.box__1 {
	background: #f5c6d6;
	height: inherit;
	width: inherit;
	display: inline-block;
}

.box__2 {
	background: #ee2e84;
	height: inherit;
	width: 200px;
	display: inline-block;
}

.box__2:not(:last-child) {
	margin-right: 10px;
}

.box__3 {
	background: #85cfd8;
	height: inherit;
	width: 410px;
	display: inline-block;
}

.box__3:first-child {
	margin-right: 10px;
}

.box__4 {
	background: #8dc63f;
	height: inherit;
	width: 610px;
	margin-right: 10px;
	display: inline-block;
}

.box__5 {
	background: #e76e34;
	height: inherit;
	width: 210px;
	display: inline-block;
}
