* {
	box-sizing: border-box;
	font-size: 0px;
}

.container {
	width: 800px;
	height: 600px;
	border: 1px solid white;
	margin: 0 auto;
}

.box,
.box2,
.box3,
.box4 {
	width: 800px;
	height: 150px;
}

.box__1 {
	background: #f5c6d6;
	height: 100%;
	width: 100%;
	display: inline-block;
	border: 5px solid white;
}

.box2__1,
.box2__2,
.box2__3,
.box2__4 {
	background: #ee2e84;
	height: 100%;
	width: 25%;
	display: inline-block;
	border: 5px solid white;
}

.box3__1 {
	background: #85cfd8;
	height: 100%;
	width: 50%;
	display: inline-block;
	border: 5px solid white;
}

.box4__1 {
	background: #8dc63f;
	height: 100%;
	width: 70%;
	display: inline-block;
	border: 5px solid white;
}

.box4__2 {
	background: #e76e34;
	height: 100%;
	width: 30%;
	display: inline-block;
	border: 5px solid white;
}
