*,
*::after,
*::before {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

.container {
	width: 1400px;
	height: auto;
	background-color: blanchedalmond;
	margin: 0 auto;
	padding: 20px;
}

.france,
.germany,
.madagascar,
.sweden,
.swiss,
.gambia {
	/* border: 2px solid #e74c3c;
	padding: 10px; */
	vertical-align: top;
}

.france {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
}

.france-1,
.france-2,
.france-3 {
	display: inline-block;
	height: 218px;
	width: 100px;
	margin-right: -4px;
}
.france-1 {
	background-color: blue;
}
.france-2 {
	background-color: white;
}
.france-3 {
	background-color: red;
}

.germany {
	display: inline-block;
	margin-right: 20px;
}

.germany-1,
.germany-2,
.germany-3 {
	height: 70px;
	width: 316px;
}

.germany-1 {
	background-color: black;
}
.germany-2 {
	background-color: red;
}
.germany-3 {
	background-color: yellow;
}

.madagascar {
	display: inline-block;
	margin-right: 20px;
	position: relative;
}

.madagascar-1 {
	display: inline-block;
	height: 222px;
	width: 100px;
	background-color: white;
	margin-right: -4px;
}
.madagascar-2 {
	display: inline-block;
	height: 111px;
	width: 218px;
	position: absolute;
	background-color: red;
}

.madagascar-3 {
	display: inline-block;
	height: 111px;
	width: 218px;
	background-color: green;
}

.swiss {
	display: inline-block;
	width: 320px;
	height: 222px;
	background-color: red;
	position: relative;
}

.swiss-1 {
	display: inline-block;
	width: 170px;
	height: 65px;
	background-color: white;
	position: absolute;
	top: calc((222px - 65px) / 2);
	left: calc((320px - 170px) / 2);
}

.swiss-2 {
	display: inline-block;
	width: 65px;
	height: 170px;
	background-color: white;
	position: absolute;
	top: calc((222px - 170px) / 2);
	left: calc((320px - 65px) / 2);
}

.sweden {
	display: inline-block;
	width: 320px;
	height: 222px;
	background-color: #4b7bec;
	margin-right: 20px;
	position: relative;
}
.sweden-1 {
	display: inline-block;
	background-color: yellow;
	width: 40px;
	height: inherit;
	position: absolute;
	left: 30%;
}

.sweden-2 {
	display: inline-block;
	background-color: yellow;
	width: inherit;
	height: 40px;
	position: absolute;
	top: calc((222px - 40px) / 2);
}

.gambia {
	display: inline-block;
	height: 222px;
	width: 320px;
}

.gambia-1 {
	height: 70px;
	width: 320px;
	background-color: red;
}

.gambia-2,
.gambia-4 {
	height: 15px;
	background-color: white;
}

.gambia-3 {
	height: 50px;
	background-color: blue;
}

.gambia-5 {
	height: 70px;
	width: 320px;

	background-color: green;
}
